[Desktop Entry]
Encoding=UTF-8
Name=Link to Customising Qt look and feel and Python in 30 Mins - maemo.org wiki
Type=Link
URL=https://wiki.maemo.org/Customising_Qt_look_and_feel_and_Python_in_30_Mins
Icon=text-html
